.title {
  font-weight: 400;
  font-size: 35px;
}

.rating_container {
  display: flex;
}

.rating {
  margin-top: 3px;
}

.overview:hover {
  overflow-y: auto;
}

.overview {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  height: 120px;
  overflow-y: hidden;
}
